{% extends "layout.html" %}
{% block content %}

<div class="col-lg-4" id="leftbut">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default btn-md">Day 1</button>
    <button type="button" class="btn btn-default btn-md">Day 2</button>
    <button type="button" class="btn btn-default btn-md">Day 3</button>
  </div>
  <button type="button" class="btn btn-primary btn-md">+ Add a day</button>
</div>

<div class="test form-group">
  <h3>Hotels</h3>
  <select class="form-control drop" id="hotel_dropdown"></select>
  <button type="button" class="btn btn-primary btn-md" id="addHotel">Add</button>
</div>

<div class="test form-group" >
  <h3>Things to do</h3>
  <select class="form-control drop" id="activities_dropdown"></select>
  <button type="button" class="btn btn-primary btn-md" id="addThings">Add</button>
</div>

<div class="test form-group">
  <h3>Restaurants</h3>
  <select class="form-control drop" id="food_dropdown">  </select>
  <button type="button" class="btn btn-primary btn-md" id="addFood">Add</button>
</div>
<div style="clear:both;"></div>

<div class="col-lg-4" id="listArea">
  <h3>Plan for Day 1</h3>
  <ul>
    <li id="singleHotel">Hotel
      <ul style="display:none"><li>sublist for Hotel</li></ul>
    </li>

    <li id="activities">Things To Do
      <ul></ul>
    </li>

    <li id="food">Restaurants
      <ul></ul>
    </li>
  </ul>
</div>

<div id="maps">
  <div id="map-canvas"></div>
</div>


<!-- <div>
<h1>You've reached the Home us page</h1>
</div> -->


{% endblock %}

{% block map %}

{% endblock %}
