<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Justin's Trip Planner</title>
  <!-- Bootstrap core CSS -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <div class="container">
  </div>
  <!-- Begin page content -->
  <div id="page-container" class="container">
    {% block navbar %} {% endblock %}
    {% block content %} {% endblock %}
    {% block button %} {% endblock %}
  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>

  {% autoescape false %}
  var all_hotels = {{ hotels | json }};
  var all_restaurants = {{ restaurants | json }};
  var all_things_to_do = {{ things_to_do | json }};
  {% endautoescape %}

  </script>

</body>
</html>
