body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#leftbut {
  padding-top:3em;
  padding-bottom: 3em;
}
footer {
  position: fixed;
  bottom: 0;
}
h3 {

}
.test {
  float: right;
  margin-left: 1em;
  display:inline-block;
}
#maps {
  float:right;
}
#map-canvas {
  width:700px;
  height:400px;
  clear:both;
}

/*.clearfix::after {
  content: ".";
  visibility: hidden;
  display: block;
  height:0;
  clear:both;
}*/
