body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#leftbut {
  padding-top:3em;
  padding-bottom: 3em;
  clear: both;
}
footer {
  position: fixed;
  bottom: 0;
  clear: both;
}
h3 {

}
.test {
  float: right;
  margin-left: 1em;
  display:inline-block;
  width:20%;
}
#maps {
  float:right;
}
#map-canvas {
  width:700px;
  height:400px;
  clear:both;
}
/*#activities_dropdown {
  display: inline;
  width:10%;
}*/
.drop {
  display:inline;
  width:75%
}
.close {
  display: inline;
  font-size: 15px;
  font-weight: bold;
  /*line-height: 18px;*/
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}


/*.clearfix::after {
  content: ".";
  visibility: hidden;
  display: block;
  height:0;
  clear:both;
}*/
